/* Global Stlyes
-------------------------------------------------- */

body {
  padding-top: 80px;
  color: #5a5a5a;
}

a {
    color: #00aeef;
    text-decoration: none;
}

a:hover, a:focus {
    color: #19BFFF;
    text-decoration: none;
}

/* Navbar
-------------------------------------------------- */

.navbar-default {
    background-color: #fff;
    border-color: #fff;
    min-height: 80px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}

.navbar .list-inline {
    padding-top: 30px;
}

.navbar .list-inline li {
    padding-left: 15px;
}

.navbar-brand, .navbar-nav > li > a {
    color: #563D7C;
}

.navbar-brand img {
    height: 50px;
}

.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover {
    background-color: #e5e5e5;
}

.navbar-toggle {
    margin-top: 20px;
    margin-bottom: 21px;
}

/* Hero
-------------------------------------------------- */

.home-banner {
    background: none repeat scroll 0 0 #3E7AA7;
    position: relative;
}

.home-banner:before {
    bottom: 0;
    content: "";
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 300;
}

.home-banner .home-banner-wrap {
    background-image: url(../img/home-banner.jpg);
    background-repeat: no-repeat;
    background-position: center -50px;
    height: 420px;
    max-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-top: 50px;
}

.home-banner .home-banner-wrap:before,
.home-banner .home-banner-wrap:after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 200px;
  display: block;
  background: -moz-linear-gradient(right, rgba(62,122,167,0) 0%, rgba(62,122,167,1) 100%);
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(62,122,167,0)), color-stop(100%, rgba(62,122,167,1)));
  background: -webkit-linear-gradient(right, rgba(62,122,167,0) 0%, rgba(62,122,167,1) 100%);
  background: -o-linear-gradient(right, rgba(62,122,167,0) 0%, rgba(62,122,167,1) 100%);
  background: -ms-linear-gradient(right, rgba(62,122,167,0) 0%, rgba(62,122,167,1) 100%);
  background: linear-gradient(right, rgba(62,122,167,0) 0%, rgba(62,122,167,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e7aa700', endColorstr='#3e7aa700',GradientType=1 );
}

.home-banner .home-banner-wrap:after {
  left: auto;
  right: 0;
  background: -moz-linear-gradient(left, rgba(62,122,167,0) 0%, rgba(62,122,167,1) 100%);
  background: -webkit-gradient(linear, right top, left top, color-stop(0%,rgba(62,122,167,0)), color-stop(100%, rgba(62,122,167,1)));
  background: -webkit-linear-gradient(left, rgba(62,122,167,0) 0%, rgba(62,122,167,1) 100%);
  background: -o-linear-gradient(left, rgba(62,122,167,0) 0%, rgba(62,122,167,1) 100%);
  background: -ms-linear-gradient(left, rgba(62,122,167,0) 0%, rgba(62,122,167,1) 100%);
  background: linear-gradient(left, rgba(62,122,167,0) 0%, rgba(62,122,167,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#3e7aa700', endColorstr='#3e7aa700',GradientType=1 );
}

@media (max-width: 992px) {
    .home-banner .home-banner-wrap:after {
        background: none;
    }
}

.home-banner {
 color: #fff;
}

.home-banner .home-banner-slogan {
    bottom: 0;
    box-shadow: 0 0 0 200px rgba(33, 102, 153, 0.85) inset;
    position: absolute;
    width: 100%;
    z-index: 800;
    padding: 25px 0;
}

@media (max-width: 992px) {
    .home-banner .home-banner-slogan {
        position: relative;
    }
}

.home-banner .home-banner-slogan .container {
    padding-left: 0;
}

.home-banner-slogan .description {
    font-size: 22px;
    margin-top: 15px;
}

.btn-special {
    border-radius: 4px;
    padding: 15px 30px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
    -ms-transition: all .5s ease-in-out;
    transition: all .5s ease-in-out;
    margin-top: 10px;
}

.navbar-nav > li > a {
    line-height: 50px;
}

.text-muted {
    color: #8f9194;
}

.btn-primary {
    background-color: #00aeef;
}

.btn-primary:hover {
    background-color: #19BFFF;
}

/* MARKETING CONTENT
-------------------------------------------------- */

/* Pad the edges of the mobile views a bit */
.marketing {
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 40px;
}

.marketing {
  margin-top: 100px;
  margin-bottom: 80px;
}

/* Center align the text within the three columns */
.marketing .col-lg-4 {
  margin-bottom: 20px;
  text-align: center;
}

.marketing h2 {
  font-weight: normal;
}

.marketing p {
  text-align: justify;
  margin-top: 30px;
}

.marketing p.button {
  text-align: center;
  margin-top: 15px;
}

.marketing img {
  width: 300px;
}

.marketing .col-lg-4 p {
  margin-right: 10px;
  margin-left: 10px;
}

@media (min-width: 768px) {
  /* Remove the edge padding needed for mobile */
  .marketing {
    padding-right: 0;
    padding-left: 0;
  }
}

/* Quotes
------------------------- */

.latest-quotes {
    background: url(../img/back1.jpg) 50% 0 no-repeat fixed;
    margin-bottom: 80px;
    padding: 50px 0;
    background-position: center center;
    background-size: cover;
}

.latest-quotes blockquote {
    border-left: medium none !important;
    /*color: #FFFFFF;*/
    font-size: 28px;
    line-height: 38px;
    margin-top: 15px;
}

.latest-quotes cite {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 0 solid #FFFFFF;
    /*color: #FFFFFF;*/
    display: inline-block;
    font-size: 18px;
    font-style: italic;
    margin-top: 5px;
    padding: 15px 10px;
    text-transform: uppercase;
}

#footer {
    margin-top: 0;
}

/* Footer */
.footer-top {
    background: #3E7AA7;
    border-bottom: 1px solid #414f5a;
    color: #fff;
    padding: 50px 0;
}

.footer-top .contact-us {
    padding-left: 0;
}

.footer-bottom {
    background: #25292C;
    color: #888;
    line-height: 30px;
    padding: 15px;
}

.contact-us {
    background: url("../img/contact-map.png") no-repeat scroll left top rgba(0, 0, 0, 0);
    margin: 15px 0 0;
}

.contact-us .icon-map-marker {
    font-size: 16px;
}

#footer ul {
    list-style: none;
}

footer a,.contact-box:hover, #options li .selected, header .top-bar, header .top-bar a, header .social li:hover i, footer .social li:hover i, .content-box:hover>.content-box-icon i, div.content-box div.content-box-icon:hover, div.content-box div.content-box-icon:hover i, #footer h3, .contact-box:hover h3 {
    color: #fff;
}